<footer class="py-3 my-1 bg-black text-white">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
    <li class="nav-item"><a href="https://github.com/juan-martin-Vv" class="nav-link px-2 text-white">Github Repo</a></li>
    <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Linkedin</a></li> -->
    <li class="nav-item"><a href="https://www.linkedin.com/in/juan-martin-vilela-904bb2238/" class="nav-link px-2 text-white">Contacto</a></li>
    <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li> -->
  </ul>
  <p class="text-center text-white">[>_>]  Company, Inc</p>
</footer>
