<div class="d-flex position-relative">
<div class="card text-end w-100">
  <div class="card-body">
    <h5 class="card-title">{{miDatos.profesionalPerfil}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{miDatos.nombre}} {{miDatos.apellido}}</h6>
    <p class="card-text">{{miDatos.descripionPerfil}}</p>
  </div>

</div>
<span>
  <span class="position-absolute top-0 start-0 translate-middle-y" style="z-index: 100;">
    <img src="../../../assets/Homer-simpson.jpg" class="rounded-circle border border-2 border-success"
      style="height: 100px; width: auto;"></span>
</span>
</div>
