<nav (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed fixed-top bg-light':'nofixed'">
  <div class="d-flex flex-md-row  flex-column  justify-content-md-between border border-1 border-dark bg-light">
    <div class="d-flex  align-items-center  justify-content-between">
      <div class="d-flex d-inline-block p-1 ">
        <a href="https://argentinaprograma.inti.gob.ar/" class="d-inline-block">
          <img src="../../../assets/APLogo-20-20.png" style="background-color: blue; height: 60px; width: auto;">
        </a>
      </div>
      <div class="d-inline-bloc p-1">
        <a href="https://argentinaprograma.inti.gob.ar/" class="text-decoration-none"># YO PROGRAMO</a>
      </div>
    </div>
    <div class="d-flex align-items-center  justify-content-between">
      <div class="d-inline-block ">
        <div>
          <a class="btn btn-block btn-social btn-twitter">
            <span class="fa-brands fa-twitter fa-lg iconos"></span>
          </a>
          <a class="btn btn-block btn-social btn-github">
            <span class="fa-brands fa-github fa-lg iconos"></span>
          </a>
          <a class="btn btn-block btn-social btn-facebook">
            <span class="fa-brands fa-facebook-square fa-lg iconos"></span>
          </a>
        </div>
      </div>
      <div class="d-flex d-inline-block p-2">
        <button type="button" class="btn btn-primary m-1" [routerLink]="['/']"
          [queryParams]="{login:'on'}">login</button>
        <button type="button" class="btn btn-secondary w-50 m-1" *ngIf="isAdmin" [routerLink]="['/']"
          [queryParams]="{about:'on'}">
          <div><i class="fa-solid fa-pencil"></i></div>
        </button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
