<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-3 miniaturas">
        <img [src]="proyDto.image" class="img-thumbnail">
      </div>
      <div class="col-12 col-sm-9">
        <h4 class="card-title">Nombre: {{proyDto.nombre}}</h4>
        <h5 class="card-subtitle mb-2">Lenguaje: {{proyDto.lenguaje}}</h5>
        <p class="card-text">Descripcion: {{proyDto.descripcion}}</p>
        <br>
        <h6 class="card-text">Repo : <span class="link-primary text text-decoration-underline" role="button" (click)="gotoUrl()">GitHub</span></h6>
        <br>
        <button type="button"
          [hidden]="false" class="btn btn-success me-0"
          data-bs-toggle="modal"
          [id]="butonId"
          [attr.data-bs-target]="'#modal'+butonId">
          <span class="text-lg-center">{{isAdmin? 'Editar':'Ver detalles'}}</span>
        </button>
      </div>
    </div>

  </div>


  <div class="modal fade" [id]="'modal'+butonId" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <app-dashboard>
      <div name="titulo" class="d-block align-baseline ">Detalles <span [ngClass]="isAdmin? 'fa fa-edit ':'fa fa-search'"></span>  </div>
      <div name="cuerpo">
        <!-- <h3>Id [{{proyDto.id}}]</h3> -->
        <form (ngSubmit)="editar()" [formGroup]="proyectForm" class="mb-3 border-1 ">
          <div *ngFor="let Dato of proyectFormLabes">
            <sheld-control [etiquetas]="Dato" [form]="proyectForm"></sheld-control>
          </div>
        </form>
      </div>
      <div name="footer" class="m-0 p-0">

          <button type="button" class="btn btn-success   mx-1" data-bs-dismiss="modal" [hidden]="!isAdmin" [disabled]="!isValid" (click)="editar()">Actualizar</button>
          <button type="button" class="btn btn-danger    mx-1" data-bs-dismiss="modal" [hidden]="!isAdmin"  (click)="borrar()">Borrar</button>
          <button type="button" class="btn btn-secondary mx-1" (click)="deshacer()"    [hidden]="!isAdmin" >Deshacer</button>
      </div>
    </app-dashboard>
  </div>
