<div class="container-fluid p-0 ">
  <div class="d-flex border border-1 border-dark flex-column min-vh-50 mb-0">
    <div class="d-block bar">
      <app-header-bar [isAdmin]="isAdmin" ></app-header-bar>
    </div>
    <div class="d-block border m-auto mt-0 mb-auto">
      <div class="position-relative m-1">
        <img src="../../../assets/APLogo-20-20.png" class="img-thumbnail"
          style="background-color: blue; position: relative; display:block;">
      </div>
    </div>
  </div>
</div>
