<div class="container-fluid p-0 ">
  <div class="d-flex border border-1 border-dark flex-column  mb-0">
    <div class="d-block">

    </div>
    <!---->
    <div class="d-block m-auto mt-0 mostrador ">
      <div class="p-1">
        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
          <div class="position-relative carousel-inner ">
            <ng-container *ngFor="let image of images; index as count">
              <div [ngClass]="count==0? 'carousel-item active':'carousel-item'">
                <img [src]="image">
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
