<div>
  <div class="row p-lg-2">
    <app-header-bar></app-header-bar>
  </div>
  <div class="row vh-lg-100 p-lg-2">
    <div class="col-12 col-lg-7 ">
      <div class="my-1 w-auto">
        <app-header></app-header>
        <app-about></app-about>
        <app-experency-cont></app-experency-cont>
        <app-education-cont></app-education-cont>
        <app-skill-cont></app-skill-cont>
        <app-proyect-cont></app-proyect-cont>
      </div>
    </div>
    <div class="col-12 col-lg-5 pb-2">
      <div class="d-none  d-lg-block my-1 h-100 border border-1 border-dark">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae aspernatur aliquam unde earum animi. Magni neque veritatis repudiandae officia, temporibus voluptates adipisci in vel odio, id explicabo assumenda ipsam quos.</p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <toast-top aria-live="polite" aria-atomic="true"></toast-top>
</div>
