<div>

  <div class="row vh-lg-100 p-lg-2">
    <app-header-bar></app-header-bar>
      <div class="col-12 col-lg-8 ">
        <div class="my-1 w-auto">
          <app-header></app-header>
          <app-about></app-about>
        </div>
      </div>
      <div class="col-12 col-lg-4 pb-2">
        <div class="my-1 w-auto h-100 border border-1 border-dark">
          <app-experency-cont></app-experency-cont>
          <app-education-cont></app-education-cont>
          <app-skill-cont></app-skill-cont>
          <app-proyect-cont></app-proyect-cont>
        </div>
    </div>
    <app-footer></app-footer>
  </div>


  <toast-top aria-live="polite" aria-atomic="true"></toast-top>
</div>
