<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header d-inline-flex">
      <h5 class="modal-title align-items-center my-1" id="staticBackdropLabel">
        editando perfil
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="close()"></button>
    </div>
    <div class="modal-body">
      <ng-container *ngFor="let form of formPerfilLabes">
        <sheld-control [etiquetas]="form" [form]="formPerfil"></sheld-control>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success   mx-1" data-bs-dismiss="modal"  (click)="editar()">Actualizar</button>
      <button type="button" class="btn btn-danger    mx-1" data-bs-dismiss="modal" [disabled]="!isAdmin||true"  (click)="borrar()">Borrar</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
    </div>
  </div>
</div>
