<div class="d-grid m-2">
  <button class="btn btn-primary " type="button" data-bs-toggle="collapse" data-bs-target="#skillCollapse"
    aria-expanded="false" aria-controls="ExpCollapse">
    {{titulo}}
  </button>
</div>
<div class="collapse" id="skillCollapse">
<div class="d-flex justify-content-between">
  <div class="d-flex row ">
    <div class="col d-inline-flex justify-content-around">
      <div class="progress blue"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
          class="progress-right"> <span class="progress-bar"></span> </span>
        <div class="progress-value">90%</div>
      </div>


      <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
          class="progress-right"> <span class="progress-bar"></span> </span>
        <div class="progress-value">37.5%</div>
      </div>


      <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
          class="progress-right"> <span class="progress-bar"></span> </span>
        <div class="progress-value">7.5%</div>
      </div>
    </div>

    <div class="col d-inline-flex justify-content-around">
      <!-- <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
          class="progress-right"> <span class="progress-bar"></span> </span>
        <div class="progress-value">67.5%</div>
      </div>


      <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
          class="progress-right"> <span class="progress-bar"></span> </span>
        <div class="progress-value">37.5%</div>
      </div>


      <div class="progress yellow"> <span class="progress-left"> <span class="progress-bar"></span> </span> <span
          class="progress-right"> <span class="progress-bar"></span> </span>
        <div class="progress-value">37.5%</div>
      </div> -->

      <app-skill-unit [progres]="progres[0]"></app-skill-unit>
      <app-skill-unit [progres]="progres[1]"></app-skill-unit>
      <app-skill-unit [progres]="progres[2]"></app-skill-unit>
    </div>
  </div>
</div>
</div>
