
<div class="card" >
  <div class="card-body">
    <!-- <h5 class="card-title">Puesto: {{experList.puesto}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Entidad: {{experList.entidad}}</h6>
    <p class="card-text">Descripcion: {{experList.descripcion}}<br>Fecha inicio: {{experList.fechaInicio|date:'dd/MM/yyyy'}}
      <br>Fecha finalizacion: {{experList.fechaFinalizacion| date:'dd/MM/yyyy'}} -->

      <h5 class="card-title">Puesto: {{expDto.puesto}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Entidad: {{expDto.institucion}}</h6>
    <p class="card-text">Descripcion: {{expDto.descripcion}}<br>Fecha inicio: {{expDto.inicio|date:'dd/MM/yyyy'}}
      <br>Fecha finalizacion: {{expDto.fin| date:'dd/MM/yyyy'}}
  </div>
</div>
