<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header d-inline-flex">
      <h5 class="modal-title align-items-center my-1" id="staticBackdropLabel">
        <ng-content select="[name=titulo]"></ng-content>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <ng-content select="[name=cuerpo]"></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <ng-content select="[name=footer]"></ng-content>
    </div>
  </div>
</div>
