<div class="d-flex my-2">
  <button class="btn btn-primary flex-fill" type="button" data-bs-toggle="collapse" data-bs-target="#eduCollapse"
    aria-expanded="false" aria-controls="eduCollapse">
    {{titulo}}
  </button>

</div>
<div class="collapse" id="eduCollapse">
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        <h4 class="flex-fill m-auto">{{titulo}}</h4>
        <button type="button" [hidden]="!admin" class="btn btn-success" data-bs-toggle="modal"
          data-bs-target="#eduDash"><span class="text-lg-center">+</span> </button>
      </div>
      <app-education-unit *ngFor="let unitDto of Dto " [Dto]="unitDto" [isAdmin]="admin" (outSignal)="signal($event)"></app-education-unit>
    </div>
  </div>
  <!-- dash -->
  <div class="modal fade" id="eduDash" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <app-dashboard>
      <div name="titulo" class="d-block">Editar {{titulo}} </div>
      <div name="cuerpo">
        <form (ngSubmit)="guardar()" [formGroup]="saveForm" class="mb-3 border-1">
          <div *ngFor="let Dato of saveFormLabes ">
            <sheld-control [etiquetas]="Dato" [form]="saveForm"></sheld-control>
          </div>
        </form>
      </div>
      <div name="footer">
        <button type="button" class="btn btn-success m-1" (click)="guardar()">Agregar</button>
      </div>
    </app-dashboard>
  </div>
